.info-line {
    border: 1px solid #dcbd84;
}


.custom-gallery-buton {
    width: 98px !important;

}

@media screen and (max-width:1024px) {
    .custom-gallery-buton {
        width: 40px !important;
    }

    button.slideshow__btn:hover {

        background-color: transparent !important;

    }

}